*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --body-font: "Poppins", sans-serif;
  --font-medium: 500;
  --font-semi-bold: 600;
}

body{
  background-color: hsl(208deg 97% 85%);
  font-family: sans-serif;
}

.title-home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

